In [4]:
import numpy as np
import pandas as pd

data_file = pd.read_csv(r'C:\Users\Karan\Downloads\movies_2.csv',sep = ',') # here need to put ++ r ++ before path and at end ++ sep = ',' ++  if file not dispaly good then to seperate with comma.
data_file.head() # to see first 5 (by default) rows
data_file.tail() # to see last 5 (by default rows)
data_file.shape # to check rows and columns
data_file.info() # check information how many null values in the list? and type of coloumn
data_file.dtypes # to check format of coumns data (if they are number, string, integer etc)
nullcount = data_file.isnull().sum() ## find how many null values in columns
print (nullcount)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB
MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

In [5]:
data_file.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [6]:
## fill missing values in table with median
#data_file
#data_file.info()
data_file["Rating"].fillna(value=data_file["Rating"].median(), inplace=True)

data_file["Rating Count"].fillna(value=data_file["Rating Count"].median(), inplace=True)

data_file["Budget"].fillna(value=data_file["Budget"].median(), inplace= True)

C:\Users\Karan\AppData\Local\Temp\ipykernel_11968\1844328757.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_file["Rating"].fillna(value=data_file["Rating"].median(), inplace=True)
C:\Users\Karan\AppData\Local\Temp\ipykernel_11968\1844328757.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_file["Rating Count"].fillna(value=data_file["Rating Count"].median(), inplace=True)
C:\Users\Karan\AppData\Local\Temp\ipykernel_11968\1844328757.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_file["Budget"].fillna(value=data_file["Budget"].median(), inplace= True)

In [7]:
data_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        616 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        616 non-null    float64
 9   Rating Count  616 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [11]:
data_file.head(5)
data_file.tail(5)
#print(data_file.tail(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        616 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    datetime64[ns]
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        616 non-null    float64
 9   Rating Count  616 non-null    float64
 10  Summary       496 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 53.1+ KB

In [9]:
## drop duplicates
data_file.drop_duplicates()
#data_file.drop_duplicates(subset= ['Title'])  ## it removes duplicate from specific coloumn. here "title"
#data_file.drop_duplicates(subset= ['title'], keep= 'last') ## it removes duplicate from specific col. and keep last duplicate value
## if put "ignor index = true" it reassign index

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
615,0,NaN,NaN,80000000.0,NaN,NaN,NaN,NaN,6.9,240347.5,NaN

In [10]:
## convert type of data
data_file.astype({'Budget' : 'int32'}).dtypes ## here changed budget column to integer from float and with dtypes show format
## to change type coloumn must be complete without empty values


## for changing release date into date type --> pandas.to_datetime

data_file['Release Date'] = pd.to_datetime(data_file['Release Date'])
data_file

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
615,0,NaN,NaN,80000000.0,NaN,NaT,NaN,NaN,6.9,240347.5,NaN

In [12]:
data_file['Release Date'] = pd.to_datetime(data_file['Release Date'])

In [13]:
more_8 = data_file[data_file['Rating']>8.5] ## shows movie having rating more than 8
more_8[["Title" , "Rating"]] ## it show only Tile and Rating column of those movies

                                                 Title  Rating
41                            The Silence of the Lambs     8.6
83                                    Schindler's List     8.9
98                                   Jurassic Park III     8.9
99                                        Pulp Fiction     8.9
111                                       Forrest Gump     8.8
127                                              Se7en     8.6
187                                Saving Private Ryan     8.6
205                                     The Green Mile     8.6
206                                         The Matrix     8.7
250  The Lord of the Rings: The Fellowship of the Ring     8.8
267              The Lord of the Rings: The Two Towers     8.7
287      The Lord of the Rings: The Return of the King     8.9
393                                    The Dark Knight     9.0
403                                   Fast and Furious     8.8
427                                          Inception     8.8
506                                       Interstellar     8.6

In [14]:
more_than_7 = data_file[(data_file["Rating"] > 7) & (data_file["Gross"] > 50_000_000)]
print(more_than_7[["Title"]])

                                   Title
1                     Driving Miss Daisy
2                         Turner & Hooch
3             Born on the Fourth of July
4                        Field of Dreams
6                When Harry Met Sally...
..                                   ...
505                           Big Hero 6
506                         Interstellar
507  Captain America: The Winter Soldier
508       Dawn of the Planet of the Apes
509              Guardians of the Galaxy

[224 rows x 1 columns]

In [15]:
MPPA_rat = data_file[(data_file['Rating']>7)&(data_file['Gross']>50_00_000)&(data_file['MPAA Rating']== "PG-13" )]
MPPA_rat

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
11,12,National Lampoon's Christmas Vacation,PG-13,27000000.0,71320000.0,1989-12-01,Action,97.0,7.6,135690.0,The Griswold familys plans for a big family Ch...
17,18,Indiana Jones and the Last Crusade,PG-13,48000000.0,474171806.0,1989-05-24,Adventure,127.0,8.2,647495.0,"In 1938, after his father Professor Henry Jone..."
27,28,Edward Scissorhands,PG-13,20000000.0,53000000.0,1990-12-05,Drama,105.0,7.9,421760.0,"An artificial man, who was incompletely constr..."
30,31,Dances with Wolves,PG-13,22000000.0,424208848.0,1990-11-09,Western,181.0,8.0,224754.0,"Lieutenant John Dunbar, assigned to a remote w..."
40,41,Fried Green Tomatoes,PG-13,11000000.0,119418501.0,1991-12-27,Comedy,130.0,7.7,62493.0,A housewife who is unhappy with her life befri...
...,...,...,...,...,...,...,...,...,...,...,...
494,495,The Hobbit: The Desolation of Smaug,PG-13,250000000.0,958400000.0,2013-12-11,Fantasy,161.0,7.8,573246.0,"The dwarves, along with Bilbo Baggins and Gand..."
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0,A team of explorers travel through a wormhole ...
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0,A growing nation of genetically evolved apes l...
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [16]:
## Animation movie with rating more than 7 and display count by shape function
Animation_movies = data_file[(data_file['Rating']>7)&(data_file['Genre']=='Animation')]
Animation_movies.shape

(39, 11)

In [135]:
## topd 5 movies based on budget
High_budget = data_file['Budget'].sort_values(ascending=False)
with_title = data_file.loc[High_budget.nlargest(5).index]
print(with_title[["Title", "Release Date"]])

                                           Title Release Date
594                       Avengers: Infinity War   2018-04-23
454  Pirates of the Caribbean: On Stranger Tides   2011-05-14
614                            Avengers: Endgame   2019-04-22
574                     Star Wars: The Last Jedi   2019-12-09
573                               Justice League   2017-11-15

In [17]:
## top 5 comeady movies by rating

#Rating_top_comeady = data_file[(data_file ['Genre'] == 'Comedy') & (data_file['Rating'].sort_values(ascending=False))]
Rating_top_comeady1 = data_file[data_file ['Genre'] == 'Comedy']
Rating_top_comeady = Rating_top_comeady1['Rating'].sort_values(ascending=False)
Rating_top_comeady.head(5)

111    8.8
185    8.1
80     8.0
254    8.0
316    7.7
Name: Rating, dtype: float64

In [28]:
data_file['Release Date'] = pd.to_datetime(data_file['Release Date'])
#data_file1 = data_file[(data_file["Genre"].str.contains("Romance")) & (data_file["Release Date"].dt.year > 1999)]
data_file1 = data_file[(data_file["Release Date"].dt.year > 1999) & (data_file["Genre"] == 'Romance')]
top_romance = data_file1.nlargest(3, "Gross")
print(top_romance [['Title','Release Date']])

                                         Title Release Date
464  The Twilight Saga: Breaking Dawn - Part 2   2012-11-13
442  The Twilight Saga: Breaking Dawn - Part 1   2011-03-15
401                The Twilight Saga: New Moon   2009-03-15

In [157]:
larget_budget = data_file[data_file ['Release Date'] > "1999"]
expensive = larget_budget.nlargest(5, 'Budget')
print(expensive[["Title", "Release Date"]])

                                           Title Release Date
594                       Avengers: Infinity War   2018-04-23
454  Pirates of the Caribbean: On Stranger Tides   2011-05-14
614                            Avengers: Endgame   2019-04-22
574                     Star Wars: The Last Jedi   2019-12-09
375     Pirates of the Caribbean: At World's End   2007-05-19

In [29]:
## how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)

x=data_file['Genre'].value_counts()
no_of_gen = len (x)
no_of_gen

16

In [30]:
data_file["MPAA Rating"].value_counts()

MPAA Rating
PG-13    285
PG       161
R        142
G         27
Name: count, dtype: int64

In [164]:
## most and list occures value

data_file["MPAA Rating"].value_counts().iloc[[0,-1]]

MPAA Rating
PG-13    285
G         27
Name: count, dtype: int64

In [ ]:
data_file.head()

In [148]:
## removie specific column
data_file.head()
data_file.drop (columns= 'Summary') # to remove summary column
data_file.drop ('Summary', axis = 1) # second method , axis = 0 for rows and axis = 1 for columns

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## rename columns
#data_file.head()
data_file = data_file.rename (columns= {"MovieID": "movie_id", "Title" : "title", "MPAA Rating": "mpaa_rating", "Budget": "budget", "Gross": "gross", "Release date": "release_date", "Genre": "genre", "Run Time": "run_time", "Rating":"rating", "Rating Count": "rating_count", "Summary": "summary"})
data_file

In [36]:
x = np.arange(12).reshape(4,3)
print (x)
data = pd.DataFrame(x, columns=['A','B','C'])
data
data.drop(columns=['B','C'])

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

   A
0  0
1  3
2  6
3  9

In [37]:
df = pd.DataFrame({"A" : [1,2,3], "B": [4,5,6]})
df.rename (columns= {"A":"a", "B" : "p"})   ## rename

   a  p
0  1  4
1  2  5
2  3  6

In [38]:
fav_color = pd.DataFrame({'person': ['A','A','B','B','B'],
                          'color' : ['red','red','white','yellow','blue'],
                          'rating' : [4,4,5,3,2]})
fav_color

  person   color  rating
0      A     red       4
1      A     red       4
2      B   white       5
3      B  yellow       3
4      B    blue       2

In [39]:
fav_color.drop_duplicates(subset= ['person'], keep= 'last')

  person color  rating
1      A   red       4
4      B  blue       2